.DS_Store
node_modules
apps/vue/node_modules
apps/vue/dist
apps/angular/node_modules
apps/angular/dist
apps/angular/tmp
apps/angular/out-tsc
apps/angular/bazel-out
apps/angular/chrome-profiler-events*.json
apps/angular/speed-measure-plugin*.json
apps/nest/node_modules
apps/nest/dist
libs/shared/node_modules
libs/shared/dist

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
apps/vue/.env.local
apps/vue/.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
